@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 320px;
  border-radius: 10px;
  padding: 1.8rem;
}

.card__image-container {
  width: 100px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__h2 {
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-bottom: 0.5rem;
}

.card__p {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(164, 205, 50);
  margin-bottom: 1.8rem;
}

.quote {
  color: rgb(211, 211, 211);
  font-weight: normal;
  font-size: 0.8rem;
}

.card__ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  width: 100%;
}

.card__ul li {
  list-style: none;
  background-color: rgb(61, 61, 61);
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.9rem;
}

.card__ul li:hover {
  background-color: rgb(164, 205, 50);
  color: black;
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
